doctype html
html
  head
    title= "DigiHood Settings"
    link(rel='stylesheet', href='/stylesheets/main.css')
  body.app
    .container
      header.mast-head.twelve.columns
        .rule.dark

    .main 
      block content

    script(src='/javascripts/all.min.js')
      
