doctype html
html
  head
    title= "DigiHood Settings"
    link(rel='stylesheet', href='/stylesheets/main.css')
  body.app
    .container
      header.mast-head.twelve.columns
        .rule.dark
        
    .container
      .row
        .twelve.columns.text-center
          a(href="#").t2.t2-blue
            | Account Settings

    .main 
      block content

    script(src='/javascripts/all.min.js')
      
